.PhotoGallery {
  height: 100%;
}

.PhotoGallery-Heading,
.PhotoGallery-ContentContainer {
  padding: 0 2%;
}

.PhotoGallery-Heading {
  margin-top: 0;
}

.PhotoGallery-ContentContainer {
  position: relative;
  /* Images max-height */
  height: 600px;
}

.PhotoGallery-Item {
  width: 100%;
  height: 100%;
  margin-bottom: 1.5em;
  position: relative;
}

.PhotoGallery-Controls {
  text-align: center;
}

.PhotoGallery-Arrow {
  display: inline-block;
  border: none;
  height: 50px;
  width: 50px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 8px;
  font-size: larger;
  cursor: pointer;
}

.PhotoGallery-Arrow:hover {
  background-color: #DDD;
}

.PhotoGallery-Arrow:focus {
  outline: none;
}

.PhotoGalleryItem-NoPhotosPrompt {
  width: 100%;
  text-align: center;
  font-size: larger;
  display: block;
  margin: 5% 0;
}

/* small */

@media (max-width: 639px) {
  .PhotoGallery-Heading {
    margin-top: 0;
    margin-bottom: 0;
  }
  .PhotoGallery-ContentContainer {
    padding: 0;
    overflow: hidden;
  }
  .PhotoGallery-Arrow {
    position: absolute;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    top: 0;
  }
  .PhotoGallery-Arrow:hover {
    background-color: transparent;
  }
  .PhotoGallery-LeftArrow {
    left: 0;
  }
  .PhotoGallery-RightArrow {
    right: 0;
  }
}

.SwapPhoto-left-enter,
.SwapPhoto-right-enter {
  opacity: 0.01;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.SwapPhoto-pre-swipe-appear,
.SwapPhoto-right-enter {
  transform: translateX(20%);
}

.SwapPhoto-left-enter {
  transform: translateX(-20%);
}

.SwapPhoto-pre-swipe-appear.SwapPhoto-pre-swipe-appear-active,
.SwapPhoto-left-enter.SwapPhoto-left-enter-active,
.SwapPhoto-right-enter.SwapPhoto-right-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in, transform 400ms ease-in;
  transform: translateX(0%);
}

.SwapPhoto-right-leave,
.SwapPhoto-left-leave {
  position: absolute;
  transform: translateX(0%);
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
}

.SwapPhoto-left-leave.SwapPhoto-left-leave-active,
.SwapPhoto-right-leave.SwapPhoto-right-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-out, transform 400ms ease-out;
}

.SwapPhoto-left-leave.SwapPhoto-left-leave-active {
  transform: translateX(20%);
}

.SwapPhoto-right-leave.SwapPhoto-right-leave-active {
  transform: translateX(-20%);
}

/* // comment */