.GalleryCell {
  height: 100%;
}

.GalleryCell-AspectRatioContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.GalleryCell-Image {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  /* Center image in container */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* top: 50%; */
  /* transform: translate3d(-50%, -50%, 0); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.GalleryCell-Caption {
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, .5);
  font-size: large;
}