.GalleryCell {
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #555;
  overflow: hidden;
}

.GalleryCell-AspectRatioContainer {
  position: relative;
  overflow: hidden;
}

.GalleryCell-AspectRatioContainer:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 54.375%;
}

.GalleryCell-AspectRatioContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.GalleryCell-Image {
  height: auto;
  width: 100%;
  /* Center image in container */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.GalleryCell-Caption {
  z-index: 2;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, .5);
}